<div id="<%= dom_id artist %>">
  <p>
    <strong>Photo:</strong>
    <%= artist.photo %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= artist.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= artist.last_name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= artist.nationality %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= artist.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= artist.death_year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

  <p>
    <strong>Art:</strong>
    <%= artist.art_id %>
  </p>

</div>
