<div class="content">
  <%= image_tag "arts_banner.png", class:"arts_banner" %>

  <div class=top-content>
    <%= image_tag "rounard.png", class:"top-content_character"%>
    <%= image_tag "rounard_bubble_artists.png", class:"top-content_bubble"%>
  </div>

  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Arts" %>

  <div class="cards">
  <% @artists.each do |artist| %>
      <%= link_to artist_path(artist) do %>
      <div class="card">
        <%= render artist %>
      </div>
      <% end %>
    <% end %>
</div>

<%= link_to "New artist", new_artist_path %>
