<div id="<%= dom_id art %>">
  <p>
    <strong>Photo:</strong>
    <%= image_tag art.photo %>
  </p>

  <p>
    <strong>Art name:</strong>
    <%= art.art_name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= art.artist_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= art.year %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= art.style %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art.description %>
  </p>

</div>
