<%= simple_form_for(@art) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :photo %>
    <%= f.input :art_name %>
    <%= f.association :artist, collection: Artist.all, label_method: :full_name, value_method: :id, prompt: "Sélectionner un artiste" %>
    <%= f.input :year %>
    <%= f.input :style %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
