<div class="content">
  <%= image_tag "arts_banner.png", class:"arts_banner" %>

  <div class=top-content>
    <%= image_tag "rounard.png", class:"top-content_character"%>
    <%= image_tag "rounard_bubble_arts.png", class:"top-content_bubble"%>
  </div>

  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Arts" %>

  <div class="cards">
    <% @arts.each do |art| %>
      <%= link_to art_path(art) do %>
      <div class="card">
        <%= render art %>
      </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "New art", new_art_path %>
</div>